/* HB Font */
@font-face {
	font-family: 'BadhouseCE';
	src: 
	url('https://github.com/ivanwcy/h-font/raw/f5c5918a7375505df46a021bef8c0a727648a524/BADHCB_0.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
}
