/* HB Font */
@font-face {
	font-family: 'BadhouseCE';
	src: 
	url('https://ivanwcy.github.io/BADHCB_0.TTF') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'BadhouseCE';
	src: 
	url('https://ivanwcy.github.io/BADHCS__.TTF') format('truetype');
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: 'Badhouse';
	src: 
	url('https://ivanwcy.github.io/BadhoBol.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Badhouse';
	src: 
	url('https://ivanwcy.github.io/BadhoSup.tff') format('truetype');
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: 'TradeGothicCE';
	src: 
	url('https://ivanwcy.github.io/TRADGCCE.TFF') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'TradeGothicCE';
	src: 
	url('https://ivanwcy.github.io/TRADGCBC.TFF') format('truetype');
	font-weight: 700;
	font-style: bold;
}

@font-face {
	font-family: 'TradeGothicCE';
	src: 
	url('https://ivanwcy.github.io/TRADGCSC.TFF') format('truetype');
	font-weight: 1000;
	font-style: super bold;
}
