/* PwC Font */
@font-face {
	font-family: 'PwC light Helvetica Neue';
	src: 
		url('https://pwcappkit-static.azureedge.net/cdn/release/3.5.1/assets/f9c5199e-a996-4c08-9042-1eb845bb7495.1e20397cac193c993bb712a91303dd3e.woff2') format('woff2'),
        url('https://pwcappkit-static.azureedge.net/cdn/release/3.5.1/assets/2a34f1f8-d701-4949-b12d-133c1c2636eb.454a26dd4bb9a1ea4326d5fce3f6efbd.woff') format('woff'),
        url('https://pwcappkit-static.azureedge.net/cdn/release/3.5.1/assets/fdf10d5e-4ce0-45e5-a6c1-5eaff6cb1c11.9f06e0e433d5b4b73853cd6cbdc60fbe.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}